@font-face {
  font-family: OpenSans-Bold;
  src: url(../fonts/OpenSans-Bold.ttf);
}

@font-face {
  font-family: OpenSans-BoldItalic;
  src: url(../fonts/OpenSans-BoldItalic.ttf);
}

@font-face {
  font-family: OpenSans-ExtraBold;
  src: url(../fonts/OpenSans-ExtraBold.ttf);
}

@font-face {
  font-family: OpenSans-ExtraBoldItalic;
  src: url(../fonts/OpenSans-ExtraBoldItalic.ttf);
}

@font-face {
  font-family: OpenSans-Italic;
  src: url(../fonts/OpenSans-Italic.ttf);
}

@font-face {
  font-family: OpenSans-Light;
  src: url(../fonts/OpenSans-Light.ttf);
}

@font-face {
  font-family: OpenSans-LightItalic;
  src: url(../fonts/OpenSans-LightItalic.ttf);
}

@font-face {
  font-family: OpenSans-Regular;
  src: url(../fonts/OpenSans-Regular.ttf);
}

@font-face {
  font-family: OpenSans-SemiBold;
  src: url(../fonts/OpenSans-SemiBold.ttf);
}

@font-face {
  font-family: OpenSans-SemiBoldItalic;
  src: url(../fonts/OpenSans-SemiBoldItalic.ttf);
}

#navbar {
  width: 100%;
  height: 80px;
  box-shadow: 0px 1px 5px 1px #00000080;
  display: inline-block;
  z-index: 1;
}

#logo {
  display: inline;
}

#logo img {
  margin: 25px 0px 0px 25px;
  width: 115px;
}

#start-today {
  margin: 30px 25px auto;
  float: right;
}

#start-today a {
  color: #4F4F4F;
  font-family: OpenSans-SemiBold;
  font-size: 14px;
  text-decoration: none;
  vertical-align: middle;
}

#start-today a:hover {
  color: #77BDD9;
}

#runner-image-section {
  position: absolute;
}

#background-image img {
  width: 100%;
}

#information-on-runner {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 44%;
  left: 55%;
}

#information-on-runner .row {
  flex-wrap: nowrap;
}

#runner-verbiage {
  padding-top: 47px;
  color: #ffffff;
  font-family: OpenSans-Bold;
  letter-spacing: 2px;
}

#runner-small-text1,
#runner-small-text2 {
  margin: 0;
  font-size: 18px;
}

#runner-large-text1,
#runner-large-text2 {
  margin: 0;
  font-size: 30px;
}

#runner-line img {
  padding: 47px 20px 0px 20px
}

#more-with-arrow {
  text-align: center;
}

#more {
  margin: 0;
  color: #ffffff;
  font-family: OpenSans-Regular;
  letter-spacing: .5px;
}
