.verbiage {
    margin: 200px;
}

.point {
    padding-right: 30px;
}

#tech-used-graph {
    width: 100%;
    /* display: flex; */
}

#amazon-graph {
    display: flex;
    width: 100%;
}

#amazon-names {
    display: inline;
    /* width: 100%; */
}

#amazon-bars {
    display: inline;
    /* width: 100%; */
}

#amazon-figma {
    width: 15%;
    display: inline-block;
    text-align: center;
}

#amazon-figma-bar {
    width: 15%;
    height: 30px;
    display: inline-block;
    text-align: center;
    background-color: #1FBBA6B2;
}

#amazon-aff-photo {
    width: 10%;
    display: inline-block;
    text-align: center;
}

#amazon-aff-photo-bar {
    width: 10%;
    height: 30px;
    display: inline-block;
    text-align: center;
    background-color: #1FBBA6B2;
}

#amazon-html {
    width: 36.5%;
    display: inline-block;
    text-align: center;
}

#amazon-html-bar {
    width: 36.5%;
    height: 30px;
    display: inline-block;
    text-align: center;
    background-color: #3E1C49B2;
}

#amazon-css {
    width: 36.5%;
    display: inline-block;
    text-align: center;
}

#amazon-css-bar {
    width: 36.5%;
    height: 30px;
    display: inline-block;
    text-align: center;
    background-color: #3E1C49B2;
}

#graph-bracket {
    display: inline;
    width: 100%;
}

#graph-line1 {
    border-left: 2px solid #000;
    border-right: 2px solid #000;
    height: 10px;
}

#graph-line2 {
    border-left: 2px solid #000;
    border-right: 2px solid #000;
    border-top: 2px solid #000;
    height: 12px;
}

#graph-duration {
    text-align: center;
}


body {
    position: absolute;
}

.mycolumn {
    width: 96%;
    margin-top: 50px;
}

.container {
    height: 350px;
    background: #fff;
    padding: 60px;
    box-shadow: 0 0 20px #777;
}

.slider {
    border: 2px solid #000;
    position: relative;
    max-height: 500px;
    margin: 0 auto;
}