@font-face {
  font-family: Roboto-Bold;
  src: url(../font/Roboto-Bold.ttf);
}

@font-face {
  font-family: Roboto-Regular;
  src: url(../font/Roboto-Regular.ttf);
}

@font-face {
  font-family: Roboto-Medium;
  src: url(../font/Roboto-Medium.ttf);
}

@font-face {
  font-family: Roboto-Light;
  src: url(../font/Roboto-Light.ttf);
}

#ad-wrapper {
  position: relative;
  letter-spacing: 1.5px;
  text-align: center;
}

#background-image img {
  width: 450px;
  height: 800px;
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
}

#close-button img {
  width: 18px;
  position: relative;
  bottom: 148px;
  left: 196px;
}

#cnbc-logo img {
  margin: 50px auto;
  width: 80px;
}

#cnbc-header p {
  font-family: Roboto-Medium;
  font-size: 46px;
  color: #fff;
}

p#politics {
  margin: 0;
}

p#newsletter {
  margin: 10px auto 60px auto;
}

#email-signup-buttons {
  display: block;
}

input[type=text] {
  padding: 16px 70px;
  border: 0;
  outline: none;
  border-radius: 28px;
  text-align: center;
  cursor: initial;
  font-family: Roboto-Regular;
  font-size: 14px;
  box-shadow: 1px 1px #00000020;
}

::placeholder {
  color: #000;
}

a#signup {
  width: 146px;
  padding: 16px 70px;
  background-color: #ffff00;
  color: #000;
  border-style: solid;
  border-width: 2px;
  border: none;
  border-radius: 28px;
  text-decoration: none;
  cursor: pointer;
  font-family: Roboto-Medium;
  font-size: 14px;
  box-shadow: 1px 1px #00000020;
}

a#signup:hover {
  background-color: #FCE300;
}

#signup {
  margin: 22px auto 60px auto;
  display: block;
}

#bottom-verbiage {
  font-family: Roboto-Light;
  font-size: 20px;
  color: #fff;
}

#bottom-verbiage p {
  margin: 0 auto 10px auto;
}

p#on-the-economy {
  margin-bottom: 70px;
}

a#no-thanks {
  font-family: Roboto-Light;
  font-size: 16px;
  color: #fff;
  text-decoration: underline;
}

a:hover#no-thanks {
  color: #a6a6a6;
}
