#amazon-banner-ad {
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
}

#background-with-text-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#verbiage {
  margin: 0;
  font-family: Roboto Condensed;
  color: #FEFDFF;
  letter-spacing: -1px;
}

#unlimited-access {
  margin: 0;
  font-size: 40px;
  font-weight: bold;
}

#try-free {
  margin: 5px;
  font-family: Montserrat;
  font-size: 20px;
  color: #E7DE4A;
}

#terms {
  font-size: 12px;
  color: #FEFDFF;
  position: absolute;
  left: 50%;
  bottom: 10px;
  transform: translateX(-50%);
}
