@font-face {
  font-family: Roboto-Bold;
  src: url(../font/Roboto-Bold.ttf);
}

@font-face {
  font-family: Roboto-Light;
  src: url(../font/Roboto-Light.ttf);
}

@font-face {
  font-family: Roboto-Medium;
  src: url(../font/Roboto-Medium.ttf);
}

@font-face {
  font-family: Roboto-Regular;
  src: url(../font/Roboto-Regular.ttf);
}

#left-side {
  margin: 115px auto auto 70px;
  display: inline-block;
}

#right-side {
  top: 96px;
  left: 83px;
  position: relative;
  display: inline-block;
}

#page-wrapper {
  position: relative;
  width: 1000px;
}

#background-image img {
  position: absolute;
  width: 1000px;
}

#on-background-image {
  position: relative;
  font-family: Roboto-Bold;
  color: #fff;
  letter-spacing: 1.5px;
}

#logo img {
  margin: 30px auto auto 45px;
  width: 180px;
}

#close img {
  width: 24px;
  position: absolute;
  top: 35px;
  left: 936px;
}

#sign-up-words p,
#next-order p {
  margin: 0 auto;
  font-size: 32px;
}

#save-five p {
  margin: 0 auto;
  font-size: 80px;
  /* font-family: Roboto-Medium; */
  color: #FF8300;
  display: inline-block;
}

img#percent-sign {
  padding-bottom: 25px;
  width: 39px;
}

a#sign-up-button,
a#no-thanks {
  display: block;
}

#number {
  padding: 28px;
  width: 424px;
  border: 0;
  font-size: 14px;
  text-align: center;
  display: block;
  box-sizing: border-box;
  border-radius: 10px;
  outline: none;
}

img#cellphone {
  position: absolute;
  width: 20px;
  height: 36px;
  top: 17px;
  left: 34px;
}

::placeholder {
  font-size: 16px;
}

a#sign-up-button {
  margin: 25px 0;
  padding: 24px 102px;
  background: #FF8300;
  width: 220px;
  font-size: 22px;
  font-family: Roboto-Medium;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  box-shadow: 1px 1px 4px 0px #00000080;
}

a#sign-up-button:hover {
  background: #ff9c33;
}

a#no-thanks {
  margin: 15px 0;
  padding: 30px 95px;
  width: 220px;
  border: 1px;
  font-size: 18px;
  text-align: center;
  color: #fff;
}

a#no-thanks:hover {
  color: #c4c4c450;
}

#bottom-verbiage {
  margin: 200px 30px 0 30px;
}

#bottom-verbiage p {
  padding: 10px;
  background: #41413F90;
  font-size: 10px;
  font-family: Roboto-Light;
  line-height: 14px;
}

span {
  font-family: Roboto-Bold;
}
