@font-face {
  font-family: Montserrat-Black;
  src: url(../fonts/Montserrat/Montserrat-Black.ttf);
}

@font-face {
  font-family: Montserrat-BlackItalic;
  src: url(../fonts/Montserrat/Montserrat-BlackItalic.ttf);
}

@font-face {
  font-family: Montserrat-Bold;
  src: url(../fonts/Montserrat/Montserrat-Bold.ttf);
}

@font-face {
  font-family: Montserrat-BoldItalic;
  src: url(../fonts/Montserrat/Montserrat-BoldItalic.ttf);
}

@font-face {
  font-family: Montserrat-SemiBold;
  src: url(../fonts/Montserrat/Montserrat-SemiBold.ttf);
}

@font-face {
  font-family: Montserrat-ExtraBold;
  src: url(../fonts/Montserrat/Montserrat-ExtraBold.ttf);
}

@font-face {
  font-family: Montserrat-Medium;
  src: url(../fonts/Montserrat/Montserrat-Medium.ttf);
}

@font-face {
  font-family: Montserrat-MediumItalic;
  src: url(../fonts/Montserrat/Montserrat-MediumItalic.ttf);
}

@font-face {
  font-family: Montserrat-Regular;
  src: url(../fonts/Montserrat/Montserrat-Regular.ttf);
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  background-image: url("../images/sky_section.png");
  background-size: cover;
  background-repeat: repeat-y;
  width: 100%;
}

.navbar-toggler:focus {
  outline: none;
}

.navbar-toggler {
  padding: 0;
  font-size: 17px;
  line-height: 0;
  border: none;
  border-radius: 0;
  outline: none;
}

.navbar-toggler .navbar-toggler-icon {
  color: #F8F9FA;
  width: auto;
  height: auto;
}

.navbar {
  padding: 10px 50px !important;
  background-color: #7D9FC1;
  font-size: 17px;
  font-family: Montserrat-Medium;
}

.navbar a.nav-link {
  padding-right: 50px !important;
}

.navbar a:hover {
  color: #0000ff82;
}

.navbar .nav-link {
  margin: auto 0;
  padding: 10px 50px;
  text-decoration: none;
  color: #F8F9FA;
}

.container-fluid.bottom-section-wrapper {
  padding: 0;
}

.bottom-section-wrapper {
  position: relative;
  height: 100%;
}

.section-wrapper {
  position: relative;
  padding: 0;
}

.scroll-up {
  position: fixed;
  top: 0;
  width: 100%;
  font-size: 25px;
  font-family: Montserrat-Bold;
  color: #7D9FC1;
  text-align: center;
}

.scroll-up p {
  margin-top: 60px;
}

.arrow {
  margin: 30px auto 10px auto;
  position: relative;
  width: 17px;
  height: 0px;
  border-bottom: 15px solid #7D9FC1;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.arrow::after {
  content: '';
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 20px solid #7D9FC1;
  position: absolute;
  right: -15px;
  top: -8px;
}

#bottom-section1 {
  width: 100%;
  height: auto;
  position: absolute;
  bottom: 0px;
  text-align: center;
}

#bottom-section1 p {
  margin: 0;
}

#bottom-section1 #section1-info {
  margin-top: 200px;
  margin-bottom: 39px;
  color: #F8F9FA;
  letter-spacing: 1px;
}

#bottom-section1 #sleep {
  font-family: Montserrat-Bold;
  font-size: 82px;
}

#bottom-section1 #dream {
  font-family: Montserrat-Regular;
  font-size: 51px;
}

#bottom-section1 #cloud-sect1-left img {
  z-index: -1;
  position: absolute;
  bottom: 20px;
  left: -73px;
}

#bottom-section1 #cloud-sect1-right img {
  width: 350px;
  z-index: -1;
  position: absolute;
  bottom: 0;
  right: 0;
}

#bottom-section1 #guy-sleeping img {
  padding-bottom: 65px;
  width: 100%;
  height: auto;
}

#transition1 {
  width: 100%;
  position: relative;
}

#transition1 #blimp {
  position: absolute;
  top: 250px;
  right: 300px;
}

#transition1 #blimp img {
  width: 240px;
}

#transition1 #goal-post {
  margin-bottom: 100px;
  margin-left: 200px;
  padding-top: 200px;
  display: inline-block;
}

#transition1 #goal-post img {
  width: 100%;
}

#transition1 #goal-cloud {
  position: absolute;
  left: 150px;
  top: 660px;
}

#transition1 #goal-cloud img {
  width: 300px;
}

#transition1 #bubbles-part1 img {
  position: absolute;
  top: -280px;
  width: 100%;
}

@media (max-width: 1230px) {
  .navbar a.nav-link {
    padding-right: 30px !important;
  }
  #bottom-section1 #sleep {
    font-size: 65px;
  }
  #bottom-section1 #dream {
    font-size: 35px;
  }
  #bottom-section1 #guy-sleeping img {
    padding-bottom: 59px;
  }
}

@media (max-width: 900px) {
  #bottom-section1 .scroll-up {
    font-size: 20px;
  }
  #bottom-section1 .arrow {
    width: 14px;
    border-bottom: 13px solid #7D9FC1;
  }
  #bottom-section1 .arrow::after {
    border-top: 13px solid transparent;
    border-bottom: 13px solid transparent;
    right: -17px;
    top: -6.55px;
  }
  #bottom-section1 #sleep {
    font-size: 51px;
  }
  #bottom-section1 #dream {
    font-size: 25px;
  }
}

@media (max-width: 700px) {
  #bottom-section1 #sleep {
    font-size: 35px;
  }
  #bottom-section1 #dream {
    font-size: 20px;
  }
}

@media (max-width: 450px) {
  #bottom-section1 #sleep {
    font-size: 25px;
  }
  #bottom-section1 #dream {
    font-size: 17px;
  }
}
/*# sourceMappingURL=main.css.map */