@import "styles.scss";

html,
body {
    margin: 0;
}

body {
    position: relative;
    background-image: url('../images/sky_section.png');
    background-size: cover;
    background-repeat: repeat-y;
    width: 100%;
}

.navbar-toggler:focus {
    outline: none;
}

.navbar-toggler {
    padding: 0;
    font-size: 17px;
    line-height: 0;
    border: none;
    border-radius: 0;
    outline: none;

    .navbar-toggler-icon {
        color: #F8F9FA;
        width: auto;
        height: auto;
    }
}

.navbar {
    padding: 10px 50px !important;
    background-color: #7D9FC1;
    font-size: 17px;
    font-family: Montserrat-Medium;

    a.nav-link {
        padding-right: 50px !important;
    }

    a:hover {
        color: #0000ff82;
    }

    .nav-link {
        margin: auto 0;
        padding: 10px 50px;
        text-decoration: none;
        color: #F8F9FA;
    }
}

.section-wrapper {
    position: relative;
    height: 100%;
}

.arrow {
    margin: 30px auto 10px auto;
    position: relative;
    width: $extra-small;
    height: 0px;
    border-bottom: 15px solid #7D9FC1;
    transform: rotate(-90deg);
}

.arrow::after {
    content: '';
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 20px solid $nav-transition;
    position: absolute;
    right: -15px;
    top: -8px;
}

.scroll-up {
    font-size: $medium;
    font-family: Montserrat-Bold;
    color: $nav-transition;
}



#section1 {
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 79px;
    text-align: center;

    p {
        margin: 0;
    }

    #guy img {
        width: 100%;
        height: auto;
    }

    #sec1-info {
        margin-top: 260px;
        margin-bottom: 39px;
        padding-top: 40px;
        color: $nav-transition;
    }

    #sleep {
        font-family: Montserrat-Bold;
        font-size: $giant;
    }

    #dream {
        font-family: Montserrat-Regular;
        font-size: $large;
    }
}

#transition1 {
    background-color: rgba(252, 208, 237, 0.619);
    width: 100%;
    position: absolute;
    bottom: 0;
    // height: 100%;

    #blimp {
        // z-index: -1;
        position: absolute;
        top: 290px;
        right: 270px;

        img {
            width: 240px;
        }
    }

    #goal-post {}

    #bubbles-part1 {
        padding-left: 30px;

        img {
            width: 100%;
        }

    }
}


@media (max-width: 1230px) {
    .navbar a.nav-link {
        padding-right: 30px !important;
    }
}

@media (max-width: 1050px) {}

@media (max-width: 900px) {}

@media (max-width: 560px) {}