@import "styles.scss";

html,
body {
    margin: 0;
}

body {
    background-image: url('../images/sky_section.png');
    background-size: cover;
    background-repeat: repeat-y;
    width: 100%;
}

.section-wrapper {
    position: relative;
    height: 100%;
}

.wrapper {
    position: absolute;
    width: 100%;
    background-color: rgba(92, 52, 92, 0.906);
}

#nav-bar {
    position: absolute;
    bottom: 0;
    width: 100%;

    nav {
        padding: 20px 50px;
        background-color: $nav-transition;
        display: flex;
        font-size: $extra-small;
        font-family: OpenSans-Bold;
    }

    a {
        margin: auto 0;
        padding-right: 50px;
        text-decoration: none;
        color: $text;
    }

    a:hover {
        color: #dfdada;
    }

    #winx-logo {
        margin-left: auto;
        display: inline-block;
    }
}

// #night-sky {
//     background-image: url('../images/sky_section.png');
//     background-repeat: repeat;
//     width: 100%;
// }

#section1 {
    background-color: rgba(228, 220, 102, 0.906);
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    text-align: center;

    p {
        margin: 0;
    }

    .arrow {
        margin: 30px auto 10px auto;
        position: relative;
        width: $extra-small;
        height: 0px;
        border-bottom: 15px solid #7D9FC1;
        transform: rotate(-90deg);
    }

    .arrow::after {
        content: '';
        width: 0;
        height: 0;
        border-top: 15px solid transparent;
        border-bottom: 15px solid transparent;
        border-left: 20px solid $nav-transition;
        position: absolute;
        right: -15px;
        top: -8px;
    }

    .scroll-up {
        font-size: $medium;
        font-family: OpenSans-Bold;
        color: $nav-transition;
    }

    #guy img {
        position: absolute;
        left: 0;
        bottom: -361px;
        width: 100%;
        height: auto;
    }

    #sec1-info {
        margin-top: 260px;
        padding-top: 40px;
        color: $nav-transition;
    }

    #sleep {
        font-family: OpenSans-Bold;
        font-size: $giant;
    }

    #dream {
        font-family: OpenSans-Regualar;
        font-size: $large;
    }
}

#transition1 {
    position: fixed;

}

#blimp {
    z-index: -1;
    position: absolute;
    top: 290px;
    right: 270px;
}

#bubbles-part1 {
    padding-left: 30px;

    img {
        width: 100vw;
    }
}