@font-face {
  font-family: OpenSans-Bold;
  src: url(../fontsOpen_Sans/OpenSans-Bold.ttf);
}

@font-face {
  font-family: OpenSans-BoldItalic;
  src: url(../fontsOpen_Sans/OpenSans-BoldItalic.ttf);
}

@font-face {
  font-family: OpenSans-ExtraBold;
  src: url(../fontsOpen_Sans/OpenSans-ExtraBold.ttf);
}

@font-face {
  font-family: OpenSans-ExtraBold;
  src: url(../fontsOpen_Sans/OpenSans-ExtraBold.ttf);
}

@font-face {
  font-family: OpenSans-Italic;
  src: url(../fontsOpen_Sans/OpenSans-Italic.ttf);
}

@font-face {
  font-family: OpenSans-Light;
  src: url(../fontsOpen_Sans/OpenSans-Light.ttf);
}

@font-face {
  font-family: OpenSans-LightItalic;
  src: url(../fontsOpen_Sans/OpenSans-LightItalic.ttf);
}

@font-face {
  font-family: OpenSans-Regular;
  src: url(../fontsOpen_Sans/OpenSans-Regular.ttf);
}

@font-face {
  font-family: OpenSans-SemiBold;
  src: url(../fontsOpen_Sans/OpenSans-SemiBold.ttf);
}

@font-face {
  font-family: OpenSans-SemiBoldItalic;
  src: url(../fontsOpen_Sans/OpenSans-SemiBoldItalic.ttf);
}

html,
body {
  margin: 0;
}

body {
  position: relative;
  background-image: url("../images/sky_section.png");
  background-size: cover;
  background-repeat: repeat-y;
  width: 100%;
}

.section-wrapper {
  position: relative;
  height: 100%;
}

.nav-wrapper {
  position: relative;
}

.arrow {
  margin: 30px auto 10px auto;
  position: relative;
  width: 17px;
  height: 0px;
  border-bottom: 15px solid #7D9FC1;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.arrow::after {
  content: '';
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 20px solid #7D9FC1;
  position: absolute;
  right: -15px;
  top: -8px;
}

.scroll-up {
  font-size: 25px;
  font-family: OpenSans-Bold;
  color: #7D9FC1;
}

.bottom-bar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.bottom-bar a.active {
  background-color: #4CAF50;
  color: white;
}

.bottom-bar .icon {
  display: none;
}

#nav-bar {
  position: absolute;
  bottom: 0;
  width: 100%;
}

#nav-bar nav {
  padding: 20px 50px;
  background-color: #7D9FC1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 17px;
  font-family: OpenSans-Bold;
}

#nav-bar a {
  margin: auto 0;
  padding-right: 50px;
  text-decoration: none;
  color: #F8F9FA;
}

#nav-bar a:hover {
  color: #dfdada;
}

#nav-bar #winx-logo {
  margin-left: auto;
  display: inline-block;
}

#section1 {
  width: 100%;
  height: auto;
  position: absolute;
  bottom: 79px;
  text-align: center;
}

#section1 p {
  margin: 0;
}

#section1 #guy img {
  width: 100%;
  height: auto;
}

#section1 #sec1-info {
  margin-top: 260px;
  margin-bottom: 39px;
  padding-top: 40px;
  color: #7D9FC1;
}

#section1 #sleep {
  font-family: OpenSans-Bold;
  font-size: 82px;
}

#section1 #dream {
  font-family: OpenSans-Regualar;
  font-size: 51px;
}

#transition1 {
  background-color: rgba(252, 208, 237, 0.619);
  width: 100%;
  position: absolute;
  bottom: 0;
}

#transition1 #blimp {
  position: absolute;
  top: 290px;
  right: 270px;
}

#transition1 #blimp img {
  width: 240px;
}

#transition1 #bubbles-part1 {
  padding-left: 30px;
}

#transition1 #bubbles-part1 img {
  width: 100%;
}

@media screen and (max-width: 900px) {
  .bottom-bar a:not(:first-child) {
    display: none;
  }
  .bottom-bar a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 900px) {
  .bottom-bar.responsive {
    position: relative;
  }
  .bottom-bar.responsive .icon {
    position: absolute;
    left: 0;
    bottom: 0;
  }
  .bottom-bar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
/*# sourceMappingURL=main.css.map */