@font-face {
  font-family: Roboto-Bold;
  src: url(../font/Roboto-Bold.ttf);
}

@font-face {
  font-family: Roboto-Light;
  src: url(../font/Roboto-Light.ttf);
}

@font-face {
  font-family: Roboto-Medium;
  src: url(../font/Roboto-Medium.ttf);
}

@font-face {
  font-family: Roboto-Regular;
  src: url(../font/Roboto-Regular.ttf);
}

#page-wrapper {
  position: relative;
  width: 390px;
  text-align: center;
}

#background-image img {
  position: absolute;
  width: 390px;
  left: 0;
}

#on-background-image {
  position: relative;
  font-family: Roboto-Bold;
  color: #fff;
  letter-spacing: 1.5px;
}

#logo img {
  margin: 10px auto 20px 20px;
  width: 160px;
}

#logo {
  text-align: left;
}

#close img {
  width: 16px;
  position: absolute;
  top: 16px;
  left: 346px;
}

#bottom-section {
  position: relative;
}

#sign-up-words p,
#next-order p {
  margin: 0 auto;
  font-size: 24px;
}

#save-five p {
  margin: 10px auto;
  font-size: 65px;
  color: #FF8300;
  display: inline-block;
}

img#percent-sign {
  padding-bottom: 21px;
  width: 30px;
}

a#sign-up-button,
a#no-thanks {
  display: block;
}

#number {
  margin-top: 40px;
  padding: 24px;
  width: 330px;
  border: 0;
  font-size: 14px;
  text-align: center;
  box-sizing: border-box;
  border-radius: 10px;
  outline: none;
}

img#cellphone {
  position: absolute;
  width: 20px;
  height: 36px;
  top: 55px;
  left: 55px;
}

::placeholder {
  font-size: 14px;
}

a#sign-up-button {
  margin: 25px 0 0 30px;
  padding: 20px 85px;
  background: #FF8300;
  width: 160px;
  font-size: 18px;
  font-family: Roboto-Medium;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  box-shadow: 1px 1px 4px 0px #00000080;
}

a#sign-up-button:hover {
  background: #ff9c33;
}

a#no-thanks {
  padding: 25px 85px;
  width: 220px;
  border: 1px;
  font-size: 18px;
  text-align: center;
  color: #fff;
}

a#no-thanks:hover {
  color: #c4c4c450;
}

#bottom-verbiage {
  margin: 50px 20px 0 20px;
}

#bottom-verbiage p {
  padding: 10px;
  background: #41413F90;
  font-size: 10px;
  font-family: Roboto-Light;
  line-height: 14px;
}

span {
  font-family: Roboto-Bold;
}
