@font-face {
    font-family: Montserrat-Black;
    src: url(../fonts/Montserrat/Montserrat-Black.ttf);
}

@font-face {
    font-family: Montserrat-BlackItalic;
    src: url(../fonts/Montserrat/Montserrat-BlackItalic.ttf);
}

@font-face {
    font-family: Montserrat-Bold;
    src: url(../fonts/Montserrat/Montserrat-Bold.ttf);
}

@font-face {
    font-family: Montserrat-BoldItalic;
    src: url(../fonts/Montserrat/Montserrat-BoldItalic.ttf);
}

@font-face {
    font-family: Montserrat-SemiBold;
    src: url(../fonts/Montserrat/Montserrat-SemiBold.ttf);
}

@font-face {
    font-family: Montserrat-ExtraBold;
    src: url(../fonts/Montserrat/Montserrat-ExtraBold.ttf);
}

@font-face {
    font-family: Montserrat-Medium;
    src: url(../fonts/Montserrat/Montserrat-Medium.ttf);
}

@font-face {
    font-family: Montserrat-MediumItalic;
    src: url(../fonts/Montserrat/Montserrat-MediumItalic.ttf);
}

@font-face {
    font-family: Montserrat-Regular;
    src: url(../fonts/Montserrat/Montserrat-Regular.ttf);
}

@font-face {
    font-family: OpenSans-Bold;
    src: url(../fontsOpen_Sans/OpenSans-Bold.ttf);
}

@font-face {
    font-family: OpenSans-BoldItalic;
    src: url(../fontsOpen_Sans/OpenSans-BoldItalic.ttf);
}

@font-face {
    font-family: OpenSans-ExtraBold;
    src: url(../fontsOpen_Sans/OpenSans-ExtraBold.ttf);
}

@font-face {
    font-family: OpenSans-ExtraBold;
    src: url(../fontsOpen_Sans/OpenSans-ExtraBold.ttf);
}

@font-face {
    font-family: OpenSans-Italic;
    src: url(../fontsOpen_Sans/OpenSans-Italic.ttf);
}

@font-face {
    font-family: OpenSans-Light;
    src: url(../fontsOpen_Sans/OpenSans-Light.ttf);
}

@font-face {
    font-family: OpenSans-LightItalic;
    src: url(../fontsOpen_Sans/OpenSans-LightItalic.ttf);
}

@font-face {
    font-family: OpenSans-Regular;
    src: url(../fontsOpen_Sans/OpenSans-Regular.ttf);
}

@font-face {
    font-family: OpenSans-SemiBold;
    src: url(../fontsOpen_Sans/OpenSans-SemiBold.ttf);
}

@font-face {
    font-family: OpenSans-SemiBoldItalic;
    src: url(../fontsOpen_Sans/OpenSans-SemiBoldItalic.ttf);
}

@font-face {
    font-family: Great_Vibes;
    src: url(../fonts/Great_Vibes/GreatVibes-Regular.ttf);
}

@font-face {
    font-family: Kalam-Bold;
    src: url(../fonts/Kalam/Kalam-Bold.ttf);
}

@font-face {
    font-family: Kalam-Regular;
    src: url(../fonts/Kalam/Kalam-Regular.ttf);
}

@font-face {
    font-family: RobotoCondensed-Regular;
    src: url(../fonts/Roboto_Condensed/RobotoCondensed-Regular.ttf);
}

@font-face {
    font-family: RobotoCondensed-Italic;
    src: url(../fonts/Roboto_Condensed/RobotoCondensed-Italic.ttf);
}

@font-face {
    font-family: RobotoCondensed-Bold;
    src: url(../fonts/Roboto_Condensed/RobotoCondensed-Bold.ttf);
}

@font-face {
    font-family: RobotoCondensed-BoldItalic;
    src: url(../fonts/Roboto_Condensed/RobotoCondensed-BoldItalic.ttf);
}
