@import "../fonts.css";

.button-contact {
    padding: 100px 0;
    text-align: center;
}

.button-1 {
    padding: 12px 25px;
    height: 30px;
    border: none;
    border-radius: 90px;
    color: #fdfdfd;
    background: #3E1C49;
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 1px;
    font-family: RobotoCondensed-Bold;
    box-shadow: 0 1px 5px 1px #0000004C;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}

.button-1:hover {
    background: #56445B;
    text-decoration: none;
    color: #fdfdfd;
}

.button-resume {
    padding-top: 100px;
}

.button-2 {
    padding: 12px 25px;
    height: 30px;
    position: relative;
    z-index: 1;
    border: none;
    border-radius: 90px;
    color: #3E1C49;
    background: #fdfdfd;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 1px;
    font-family: RobotoCondensed-Bold;
    font-size: 22px;
    box-shadow: 0 1px 5px 1px #0000004C;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}

.button-2:hover {
    background: #1FBBA6;
    text-decoration: none;
    color: #fdfdfd;
}

.button-view-full-design {
    padding-left: 100px;
    display: inline-block;
}

.button-3 {
    padding: 12px 25px;
    height: 30px;
    border: 2px solid #000;
    border-radius: 90px;
    color: #000;
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 1px;
    font-family: RobotoCondensed-Bold;
    box-shadow: 0 1px 5px 1px #0000004C;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}

.button-3:hover {
    background: #ECE8ED;
    border: 2px solid #3E1C49;
    text-decoration: none;
    color: #3E1C49;
}

.section-header-top-margin {
    margin-top: 100px;
}

.image-wrapper {
    margin: 0 auto;
    z-index: 2;
}

.section-wrapper {
    padding: 100px 100px 100px 200px;
    /* display: flex; */
}

.content-flex-wrapper {
    display: flex;
}

.project-section-title {
    /* padding-left: 100px; */
}

.project-section-title p {
    margin-bottom: 30px;
    font-family: Kalam-Bold;
    font-size: 24px;
    letter-spacing: 1px;
    color: #474747
}

.three-dots {
    /* padding-left: 100px; */
    display: inline-block;
    vertical-align: top;
}

.overview-information {
    display: inline-block;
}

.verbiage p {
    padding: 0 30px;
    display: inline-block;
    font-family: RobotoCondensed-Regular;
    letter-spacing: 1px;
}

.bullet-point {
    display: inline-block;
}

.button-source-code {
    margin-top: 60px;
}

.source-code a {
    padding: 8px;
    font-family: RobotoCondensed-Bold;
    font-size: 20px;
    color: #3E1C49;
    border: 2.5px solid #3E1C49;
    text-decoration: none;
}

.source-code a:hover {
    color: #1FBBA6;
    border: 2.5px solid #1FBBA6;
}


#page-header {
    padding: 100px;
    font-family: Kalam-Bold;
    position: relative;
    font-size: 40px;
    color: #474747;
}

#page-header p {
    margin: 0;
}

#project-header-drops {
    position: absolute;
    z-index: -1;
    top: 60px;
    left: 0px;
}

#verbiage-break {
    display: block;
}

#bullet-2-lines {
    margin-bottom: 30px;
}

#bullet-3-lines {
    margin-bottom: 50px;
}

#marketing-button {
    display: inline-block;
}