@font-face {
  font-family: Heebo-Regular;
  src: url(../fonts/Heebo-Regular.ttf);
}

@font-face {
  font-family: Heebo-Thin;
  src: url(../fonts/Heebo-Thin.ttf);
}

@font-face {
  font-family: Heebo-Light;
  src: url(../fonts/Heebo-Light.ttf);
}

@font-face {
  font-family: Heebo-Medium;
  src: url(../fonts/Heebo-Medium.ttf);
}

@font-face {
  font-family: Heebo-Bold;
  src: url(../fonts/Heebo-Bold.ttf);
}

.left-star-a, .right-star-a,
.left-star-b, .right-star-b {
  padding-bottom: 5px;
  width: 16px;
}

.left-star-b {
  padding-right: 10px;
}

.right-star-b {
  padding-left: 10px;
}

#background_image img {
  width: 600px;
  height: 850px;
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
}

#on-image-wrapper {
  text-align: center;
  position: relative;
  letter-spacing: 3px;
}

#close_image img {
  width: 20px;
  left: 271px;
  top: 15px;
  position: relative;
}

#cnbc-logo {
  text-align: center;
}

#cnbc-logo img {
  width: 60px;
  margin: 50px auto 70px auto;
}

p#washingtons-impact-verbiage {
  font-family: Heebo-Light;
  font-size: 20px;
  color: #fff;
}

p#guide-section,
p#impact-section,
p#business-section {
  margin: 5px 0;
  display: block;
}

p#business-section {
  margin-bottom: 45px;
}

#get-the-stars img, p {
  font-size: 20px;
  font-family: Heebo-Light;
  display: inline;
  color: #fff;
}

#row-of-stars-get-the {
  padding-bottom: 5px;
}

#cnbc-newsletter-verbiage p {
  margin: 0;
  font-family: Heebo-Bold;
  font-size: 58px;
  color: #fff;
  display: block;
}

p#cnbc-politics-section {
  margin-bottom: -16px;
}

input[type=text] {
  margin: 15px auto;
  padding: 25px 20px;
  width: 350px;
  box-sizing: border-box;
  font-size: 20px;
  font-family: Heebo-Light;
  outline: none;
}

input#email {
  display: block;
  border: 0;
  box-shadow: 1px 1px #00000020;
}

a#signup-box {
  margin: 0px auto 60px auto;
  padding: 25px 110px;
  background-color: #E0B940;
  border: none;
  color: #000;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-family: Heebo-Bold;
  letter-spacing: 2px;
  cursor: pointer;
  box-shadow: 1px 1px #00000020;
}

a:hover#signup-box {
  background-color: #c9a020;
}

a#no-thanks {
  margin: 0;
  padding: 0;
  font-family: Heebo-Regular;
  font-size: 18px;
  color: #fff;
  text-decoration: underline;
  letter-spacing: 1px;
}

a:hover#no-thanks {
  color: #a6a6a6;
}
